@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> Student Portal <a></a></p>
    <p> Teacher Portal <a href="https://localhost:7293/Student/Student">Click here</a></p>
    <p> Course Portal <a href="https://www.google.com/search?sca_esv=561932315&sxsrf=AB5stBhltz_P_c-ZiiSilV98AJDKtGEiXg:1693576725465&q=favicons&tbm=isch&source=lnms&sa=X&ved=2ahUKEwi14Pv4yImBAxVjk4kEHUpZCrYQ0pQJegQIDhAB&biw=1536&bih=707&dpr=1.25#imgrc=30e4gMo39DFYwM">Click here</a></p>
    <p> Student Registration <a href="https://www.google.com/search?sca_esv=561932315&sxsrf=AB5stBhltz_P_c-ZiiSilV98AJDKtGEiXg:1693576725465&q=favicons&tbm=isch&source=lnms&sa=X&ved=2ahUKEwi14Pv4yImBAxVjk4kEHUpZCrYQ0pQJegQIDhAB&biw=1536&bih=707&dpr=1.25#imgrc=30e4gMo39DFYwM">Click here</a></p>
    <p> Teacher Registration <a href="https://www.google.com/search?sca_esv=561932315&sxsrf=AB5stBhltz_P_c-ZiiSilV98AJDKtGEiXg:1693576725465&q=favicons&tbm=isch&source=lnms&sa=X&ved=2ahUKEwi14Pv4yImBAxVjk4kEHUpZCrYQ0pQJegQIDhAB&biw=1536&bih=707&dpr=1.25#imgrc=30e4gMo39DFYwM">Click here</a></p>
</div>
