@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Student Portal <a href="https://localhost:7215/Student/Student">Click Here</a>.</p>
    <p>Teacher Portal <a href="https://localhost:7215/Teacher">Click Here</a>.</p>
    <p>Course Portal <a href="https://localhost:7215/Course">Click Here</a>.</p>
      <p>Student Registration <a href="https://docs.microsoft.com/aspnet/core">Click Here</a>.</p>
    <p>Student Registration <a href="https://docs.microsoft.com/aspnet/core">Click Here</a>.</p>
</div>
